apiVersion: v1
kind: Namespace
metadata:
  name: webmail

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: snappymail-pvc
  namespace: webmail
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: local-path

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: snappymail
  namespace: webmail
spec:
  replicas: 1
  selector:
    matchLabels:
      app: snappymail
  template:
    metadata:
      labels:
        app: snappymail
    spec:
      containers:
      - name: snappymail
        image: jasonmun/snappymail:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
        volumeMounts:
        - name: snappymail-data
          mountPath: /var/snappymail/data
      volumes:
      - name: snappymail-data
        persistentVolumeClaim:
          claimName: snappymail-pvc

---
apiVersion: v1
kind: Service
metadata:
  name: snappymail
  namespace: webmail
spec:
  type: ClusterIP
  selector:
    app: snappymail
  ports:
    - port: 80
      targetPort: 80
